*.cmd
*.o
vmlinux
*.a
*.dtb
*.so
*.log
*.tmp
*.map
.config.old
*.d
*.config
.version
*.S
*.kallsyms*
*.s
*.builtin
scripts/*
*.symvers
crypto/*
*.dbg
*.modinfo
arch/arm64/include/generated/
include/config/
include/generated/
.config
*.mod
out/
*.log
*.dist
spl/